@import '../../neumorphism.module.css';

.header-bg{
    position: relative;
    background-image: url('../../assets/Home Header Bg.svg'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
  }

hr{
  height: 10px;
  width: 100%;
  box-shadow: var(--neu-box-shadow);
  border-radius: var(--border-radius-neu);
}

.hoverMe{
  background-color: #1E1E1E;
  border-radius: var(--border-radius-neu);
}

.hoverMe:hover{
  box-shadow: var(--neu-box-shadow);
  border-radius: var(--border-radius-neu);
}

footer{
  height:100vh;
  width:100%;
}

  footer .container{
    
    width:40%;
  }


@media (max-width: 426px){
  footer .container{
    width:100%;
  }
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #bbb;
  border: none;
}

.carousel-indicators .active {
  background-color: white; 
}

footer .card{
  background-color: #1E1E1E;
}

.hoverReviews{
  background-color: #1E1E1E;
  box-shadow: var(--neu-box-shadow);
  border-radius: var(--border-radius-neu);
}