@import '../../neumorphism.module.css';

.course-preview-container{
    max-width: 800px;
}

.course-playlist-container{
    background-color: #1E1E1E !important;
    box-shadow: var(--neu-box-shadow);
    border-radius: 15px;
}

.accordion-container{
    background-color: #1B1B1B !important
}

.responsive-text {
    font-size: 13px; /* Default font size for small screens */
  }
  
  @media (min-width: 768px) {
    .responsive-text {
      font-size: 14px; /* Font size for medium screens and above */
    }
  }
  
  @media (min-width: 1200px) {
    .responsive-text {
      font-size: 16px; /* Font size for large screens */
    }
  }


  .responsive-heading {
    font-size: 16px; /* Default font size for small screens */
  }
  
  @media (min-width: 768px) {
    .responsive-heading {
      font-size: 20px; /* Font size for medium screens */
    }
  }
  
  @media (min-width: 1200px) {
    .responsive-heading {
      font-size: 24px; /* Font size for large screens */
    }
  }