 .fixed-layout::before{
    display:block;
    content: "";
    height: 120px;
}
  
body{
    background-color: #1B1B1B !important;
    font-family: 'Montserrat', sans-serif !important;
}

.hr-line{
  height: 10px;
  width: 100%;
  box-shadow: var(--neu-box-shadow);
  border-radius: var(--border-radius-neu);
}

.hr-white-line{
  height: 5px;
  width: 100%;
  background-color: white !important;
}

.btn:focus, 
.btn:active, 
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

::placeholder,
.form-control::placeholder {
    color: rgb(61, 56, 56)19, 113, 113 !important; /* Customize for Bootstrap */
  }

.text-indent{
  text-indent: 50px !important;
}

.text-justify{
  text-align: justify !important;
}