@import '../../neumorphism.module.css';

.dashboard-container {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards-container {
    display: flex;
  }
  
.card-design{
    background-color: #1E1E1E;
    box-shadow: var(--neu-box-shadow);
    border-radius: 30px;
     margin: 20px;
}

.profile-card,
.password-card {
    position: relative; 
    padding: 20px; 
    min-height: 380px;
}

.account-card {
    position: relative; 
}

.input-container{
    background-color: #1E1E1E !important;
    box-shadow: var(--neu-inset-box-shadow) !important;
}

.input-fields{
   width: 90%;
}

.first-label{
    margin-top: 20px;
}

@media (max-width: 768px) {
  .profile-card,
  .password-card {
    margin-right: 30px;
  }
  .account-card{
    margin-right: 28px;
    width: 90%;
  }
  .dashboard-container{
    margin-top: 130px;
  }
  .cards-container {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
}


.profile-picture {
    width: 150px;  
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%;
    border: 3px solid white; 
  }



