@import '../../neumorphism.module.css';

.dashboard-container {
  background: url('/path-to-your-svg.svg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.cards-container {
    display: flex;
  }
  
.card-design{
    background-color: #1E1E1E;
    box-shadow: var(--neu-box-shadow);
    border-radius: 30px;
     margin: 20px;
}

.profile-card,
.password-card {
  min-height: 250px;
}

.account-card {
  min-height: 500px;
}

@media (max-width: 768px) {
  .profile-card,
  .password-card {
    margin-right: 30px;
  }
  .account-card{
    margin-right: 28px;
    width: 90%;
  }
  .dashboard-container{
    margin-top: 130px;
  }
  .cards-container {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
}

