.dashboard-container {
  background: url('/path-to-your-svg.svg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cards-container {
    display: flex;
  }

.profile-card,
.account-card,
.password-card {
  background: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
  color: white;
  text-align: center;
  margin: 20px;
}

.profile-card,
.password-card {
  min-height: 250px;
}

.account-card {
  min-height: 500px;
}

@media (max-width: 768px) {
  .profile-card,
  .password-card {
    margin-right: 30px;
  }
  .account-card{
    margin-right: 50px;
  }
  .dashboard-container{
    margin-top: 80px;
  }

}

@media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center; 
      justify-content: center;
    }
}